.display-4{
    text-align: center;
}

.body{
    text-align: center;
}

form{
    display: inline-block;

}

.mb-3{
    border: solid black;
    border-radius: 5px;
}

input{
    border-radius: 5px;
}

.button{
    margin: 15px;
    border-radius: 5px;
    border: solid black 5px;
    background-color: #ae87f8;
    font-size: 17px;
    transition-duration: .2s;
    width: 220px;
    height: 40px;
}

.button:hover{
    background-color: #e7e2fa;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}